{
  "name": "{{ToLower .Name}}",
  "version": "0.0.1",
  "description": "{{.DESCRIPTION}}",
  "author": "{{.AUTHOR}}",
  "license": "UNLICENSED",
  "keywords": [],
  "main": "build/index.js",
  "files": [
    "build"
  ],
  "types": "build/index.d.ts",
  "repository": {
    "type": "git",
    "url": "{{.GIT_BASE_URL}}/{{.Name}}"
  },
  "scripts": {
    "build": "tsc -p tsconfig.build.json",
    "ci": "yarn lint && yarn test:coverage && test:e2e",
    "lint": "eslint \"**/*.ts\" --fix --ignore-path .gitignore",
    "test": "yarn lint && jest",
    "test:coverage": "jest --coverage --globals '{}'",
    "test:debug": "node --inspect-brk -r tsconfig-paths/register -r ts-node/register node_modules/.bin/jest --runInBand",
    "test:watch": "jest --watch",
    "test:e2e": "echo 'no e2e tests configured'"
  },
  "devDependencies": {
    "@tsconfig/node18": "^1.0.1",
    "@types/jest": "^29.4.4",
    "@types/js-yaml": "^4.0.5",
    "@types/node": "^18.15.3",
    "@typescript-eslint/eslint-plugin": "^5.55.0",
    "@typescript-eslint/experimental-utils": "^5.55.0",
    "@typescript-eslint/parser": "^5.55.0",
    "eslint": "^8.36.0",
    "eslint-config-airbnb-base": "^15.0.0",
    "eslint-config-prettier": "^8.7.0",
    "eslint-plugin-import": "2.27.5",
    "jest": "^29.5.0",
    "js-yaml": "^4.1.0",
    "ts-jest": "^29.0.5",
    "ts-node": "^10.9.1",
    "tsc-watch": "^6.0.0",
    "typescript": "^4.9.5"
  },
  "dependencies": {}
}
